<template>
  <div>
    header <br>
    <NuxtLink to="/about">
      About
    </NuxtLink> <br>
    <NuxtLink to="/contact">
      Contact
    </NuxtLink> <br>
    <NuxtLink to="/inspire">
      Inspire
    </NuxtLink> <br>
  </div>
</template>
